.catalogContainer {
  max-width: 1500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
  border-radius: 50px;
}
.catalogMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1100px;
}
.catalogHeader {
  margin-top: 20px;
  font-size: 40px;
  color: black;
  text-shadow: 0 0 5px greenyellow, 0 0 10px green, 0 0 15px yellowgreen;
}
.menuContainer {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuArrow {
  color: grey;
  font-size: 30px;
  cursor: pointer;
}
.menuArrow:active {
  color: white;
}
.disabledArrow {
  color: red;
}
.menuItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.menuItem {
  width: 200px;
  height: 50px;
  border: 2px solid greenyellow;
  color: greenyellow;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.menuItem:hover {
  border: 6px double greenyellow;
  transform: scale(0.999);
}
.choosedItem {
  border-color: green;
  animation: choosed 0.5s alternate-reverse infinite;
}
@keyframes choosed {
  0% {
    text-shadow: 0 0 5px green, 0 0 10px white;
  }
  100% {
    color: white;
    text-shadow: 0 0 25px green, 0 0 30px white;
  }
}
.previewWindow {
  min-width: 800px;
  max-width: 1000px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 26px;
  margin-top: 20px;
}
.previewInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.itemReviews {
  position: absolute;
  width: 190px;
  min-height: 100px;
  max-height: 300px;
  background: linear-gradient(45deg, grey, white, grey);
  border: 6px double black;
  border-radius: 20px;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: black;
  padding: 5px;
  word-wrap: break-word;
  overflow-y: auto;
}
.itemReviews::-webkit-scrollbar {
  width: 10px;
}
.itemReviews::-webkit-scrollbar-track {
  background: transparent;
}
.itemReviews::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
}
.reviewsInput {
  max-width: 150px;
  height: 25px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
}
.previewItem {
  padding-top: 50px;
  transform: scale(0.7);
  position: relative;
}
