@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

:root {
  --firstText: greenyellow;
  --secondText: orangered;
  --firstTheme: #f8c668;
  --secondTheme: #60c9be;
  --leftRange: black;
  --rightRange: lightblue;
  --smallheartbg: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Prism", cursive;
}
html {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(45deg, var(--firstTheme), var(--secondTheme));
  background-repeat: no-repeat;
}
.backBtn {
  background: linear-gradient(45deg, black, grey, white, grey, black);
  width: 35px;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  font-weight: 800;
  transition: 0.2s;
}
.backBtn:hover {
  border: 4px solid black;
  cursor: pointer;
}
.backBtn:active {
  transform: scale(0.95);
}
header {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
  font-weight: 600;
  background: linear-gradient(black 10%, transparent);
}
.headerText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appName {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.firstText {
  text-shadow: 0 0 5px white, 0 0 10px var(--firstText), 0 0 20px white,
    0 0 30px var(--firstText), 0 0 40px white;
  margin-right: 150px;
}
.secondText {
  text-shadow: 0 0 5px white, 0 0 10px var(--secondText), 0 0 20px white,
    0 0 30px var(--secondText), 0 0 40px white;
  margin-right: 50px;
}
.appThemes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}
.leftRange {
  background: linear-gradient(to right, var(--leftRange));
}
.rightRange {
  background: linear-gradient(to right, var(--rightRange));
}
.themeRange {
  width: 45%;
  -webkit-appearance: none !important;
  height: 20px;
  cursor: pointer;
  border-radius: 20px;
}
.themeRange::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: black;
  border: 1px solid white;
  border-radius: 7px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}
.themeRange:hover {
  opacity: 1;
  border: 2px solid white;
}
footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: black;
  text-shadow: 0 0 5px white, 0 0 10px var(--firstText), 0 0 20px white,
    0 0 30px var(--firstText), 0 0 40px white;
  background: linear-gradient(to top, black 10%, transparent);
}
